*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background: #f3dcdc;
}

.main-container{
    max-width: 1300px;
    /* display: flex;
    justify-content: center; */
    /* align-items: center; */
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.link-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #fff;
    padding: 30px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 10px;
    
}
a{
    text-decoration: none;
    color: #333;
    font-size: 2rem;
    transition: all 0.3s ease;
    cursor: pointer;
}

h1{
    font-size: 3rem;
    color: #333;
    text-align: center;
    margin: 100px 0 50px 0;
}
h2{
    font-size: 2rem;
    color: #333;
    text-align: center;
    margin: 50px 0;
}

.link-container:hover{
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    transform: translateY(-5px);
    cursor: pointer;
}

@media (max-width: 800px){
    .main-container{
        padding-left: 15px;
        padding-right: 15px;
    }
    .link-container{
        padding: 20px;
    }
}